!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-style-type', :content => 'text/css'}
    %meta{'http-equiv' => 'content-script-type', :content => 'text/javascript'}
    %title ブラウザ将棋盤 -リリースノート-
  %body
    %h2 ブラウザ将棋盤 -リリースノート-
    %ul
      %li 2010.08.31 ver.0.1.1 IE対応
      %li 2010.08.31 ver.0.1.0
    .footer
      %br
      Support by M.Yokoyama&lt;myokoym at gmail.com&gt;
      %br
      Powered by
      %a{:href => "http://www.ruby-lang.org/ja/"} Ruby
      ,
      %a{:href => "http://heroku.com/"} Heroku
      ,
      %a{:href => "http://www.sinatrarb.com/"} Sinatra
      ,
      %a{:href => "http://haml-lang.com/"} Haml
      ,
      %a{:href => "http://jquery.com/"} jQuery

