!!! XML
!!!
%html
  %head
    %meta{'http-equiv' => 'content-type', :content => 'text/html; charset=utf-8'}
    %meta{'http-equiv' => 'content-style-type', :content => 'text/css'}
    %meta{'http-equiv' => 'content-script-type', :content => 'text/javascript'}
    %title インターネット将棋盤
    %script{:type => "text/javascript",
            :src  => "http://www.google.com/jsapi"}
    %script{:type => "text/javascript"} google.load("jquery", "1.4.2");
    %script{:type => "text/javascript",
            :src  => "./js/jQueryRotate.js"}
    %script{:type => "text/javascript",
            :src  => "./js/shogiboard.js"}
    %script{:type => "text/css",
            :src  => "./css/shogiboard.css"}
  %body
    %h1 インターネット将棋盤
    - fu = "./img/fu.gif"
    - kyo = "./img/kyo.gif"
    - kei = "./img/kei.gif"
    - gin = "./img/gin.gif"
    - kin = "./img/kin.gif"
    - kaku = "./img/kaku.gif"
    - hi = "./img/hi.gif"
    - gyoku = "./img/gyoku.gif"
    - ou = "./img/ou.gif"
    - to = "./img/to.gif"
    - narikyo = "./img/narikyo.gif"
    - narikei = "./img/narikei.gif"
    - narigin = "./img/nairgin.gif"
    - uma = "./img/.gif"
    - ryu = "./img/.gif"
    - koma_place = [[kyo,kei,gin,kin,gyoku,kin,gin,kei,kyo],
                    [nil,hi,nil,nil,nil,nil,nil,kaku,nil],                                
                    [fu,fu,fu,fu,fu,fu,fu,fu,fu],
                    [nil,nil,nil,nil,nil,nil,nil,nil,nil],
                    [nil,nil,nil,nil,nil,nil,nil,nil,nil],
                    [nil,nil,nil,nil,nil,nil,nil,nil,nil],
                    [fu,fu,fu,fu,fu,fu,fu,fu,fu],
                    [nil,kaku,nil,nil,nil,nil,nil,hi,nil],
                    [kyo,kei,gin,kin,gyoku,kin,gin,kei,kyo]]
    %table{:border => '1'}
      - koma_place.each_with_index do |line, i|
        %tr
          - line.each do |koma|
            %td
              - if koma
                - if i < 5
                  %img.you{:src => koma}
                - else
                  %img.me{:src => koma}
    %table{:border => '1'}
      - koma_place.each_with_index do |line, i|
        %tr
          - line.each do |koma|
            %td
              - if koma
                - if i < 5
                  %p#you koma
                - else
                  %p#me koma
    %p#bottom ここに色が付けばjQueryのエラーなんてないんだからね！

